<!doctype html>
        <html lang="eng">
        <head>
            <meta charset="UTF-8">
            <title>Glippy's API</title>
        </head>
        <body>
            <h1>Hooray! Welcome to Glippy's API!</h1>
            <%= new Date()%>
        </body>
        </html>