<!doctype html>
        <html lang="eng">
        <head>
            <meta charset="UTF-8">
            <LINK href="/css/style.css" rel="stylesheet" type="text/css">
            <title>Glippy's API</title>
        </head>
        <body>
            <h1>GLIPPY'S HOME</h1>
        </body>
        </html>